---
import Layout from '~/layouts/Layout.astro';
import SFHeader from '~/components/widgets/SFHeader.astro';
import SFFooter from '~/components/widgets/SFFooter.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <SFHeader />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <SFFooter />
  </slot>
</Layout>
